#include<windows.h>
#include "MyDaialog.h"

DATAENTRY DIALOG DISCARDABLE 0, 0, 300, 150
STYLE  DS_CENTER | WS_CAPTION | WS_BORDER | WS_MAXIMIZE | DS_SETFONT
CAPTION "DATAENTRY"

BEGIN

LTEXT "CPU",								-1, 15, 10, 50, 10													//This is static text
COMBOBOX IDCPU,								80, 10, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDCPU1,							240, 10, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDCPU2,							400, 10, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDCPU3,							560, 10, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETCPU,							720, 10, 25, 10, WS_TABSTOP | WS_DISABLED

LTEXT "RAM",								-1, 15, 30, 50, 10
COMBOBOX IDRAM,								80, 30, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDRAM1,							240, 30, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETRAM,							720, 30, 25, 10, WS_TABSTOP 

LTEXT "MOTHERBOARD",						-1, 15, 50, 80, 10
COMBOBOX IDMOTHERBOARD,						80, 50, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDMOTHERBOARD1,					240, 50, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETMOTHERBOARD,					720, 50, 25, 10, WS_TABSTOP 

LTEXT "GRAPHIC CARD",						-1, 15, 70, 80, 10
COMBOBOX IDGRAPHIC,							80, 70, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDGRAPHIC1,						240, 70, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDGRAPHIC2,						400, 70, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETGRAPHIC,						720, 70, 25, 10, WS_TABSTOP 

LTEXT "HARD DISK",							-1, 15, 90, 80, 10
COMBOBOX IDHARD,							80, 90, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDHARD1,							240, 90, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETHARD,							720, 90, 25, 10, WS_TABSTOP 

LTEXT "CD/DVD DRIVE",						-1, 15, 110, 80, 10
COMBOBOX IDCD,								80, 110, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDCD1,								240, 110, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETCD,							720, 110, 25, 10, WS_TABSTOP 

LTEXT "SMPS",								-1, 15, 130, 80, 10
COMBOBOX IDSMPS,							80, 130, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETSMPS,							720, 130, 25, 10, WS_TABSTOP 

LTEXT "CABINATE",							-1, 15, 150, 80, 10
COMBOBOX IDCABINATE							80, 150, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDCABINATE1						240, 150, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETCABINATE,						720, 150, 25, 10, WS_TABSTOP 

LTEXT "KEYBOARD",							-1, 15, 170, 80, 10
COMBOBOX IDKEYBOARD							80, 170, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDKEYBOARD1						240, 170, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETKEYBOARD,						720, 170, 25, 10, WS_TABSTOP 

LTEXT "MOUSE",								-1, 15, 190, 80, 10
COMBOBOX IDMOUSE							80, 190, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDMOUSE1							240, 190, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETMOUSE,						720, 190, 25, 10, WS_TABSTOP 

LTEXT "MONITOR",							-1, 15, 210, 80, 10
COMBOBOX IDMONITOR							80, 210, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDMONITOR1							240, 210, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
COMBOBOX IDMONITOR2							400, 210, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETMONITOR,						720, 210, 25, 10, WS_TABSTOP 

LTEXT "PRINTER",							-1, 15, 230, 80, 10
COMBOBOX IDPRINTER							80, 230, 150, 30, CBS_DROPDOWNLIST | WS_TABSTOP | WS_VSCROLL
EDITTEXT ID_ETPRINTER,							720, 230, 25, 10, WS_TABSTOP 

PUSHBUTTON "OK",IDOK,						240, 400, 30, 10
PUSHBUTTON "CONTINUE",ID_PBCONTINUE			360, 400 ,40, 10
PUSHBUTTON "CANCEL ",IDCANCEL,				500, 400, 30, 10

END
